:root {
    --bg-black: #8b8b8b;
    --deck-gray: #C0C0C0;
    --vfd-blue: #40e0ff;
    --vfd-glow: rgba(64, 224, 255, 0.5);
    --vfd-blue-dim: #003a4d;
    --vfd-off: #0a0a0a;
    --vfd-red: #ff3333;
    --text-silver: #050505;
    --text-white: #ffffff;
    --ui-font: 'Segoe UI', Tahoma, sans-serif;
    --digital-font: 'DS-Digital', sans-serif;
    --brushed-metal: conic-gradient(from 0deg, #222 0deg, #444 45deg, #222 90deg, #444 135deg, #222 180deg, #444 225deg, #222 270deg, #444 315deg, #222 360deg);
}

body {
    background-color: var(--bg-black);
    color: var(--text-silver);
    font-family: var(--ui-font);
    display: flex; justify-content: center; align-items: center;
    min-height: 100vh; margin: 0; user-select: none;
    overflow: hidden;
}

.deck-container {
    width: 1600px; background-color: var(--deck-gray);
    padding: 25px 120px 60px 120px; border-top: 1px solid #333;
    border-radius: 4px; box-shadow: 0 80px 150px rgba(0,0,0,1);
    position: relative;
    z-index: 1;
}

.brand-header {
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 25px; padding-bottom: 12px; border-bottom: 0px solid #222;
}

.main-logo { height: 20px; display: block; opacity: 10; }
.model-name { font-size: 12px; color: var(--text-silver); letter-spacing: 3px; font-weight: bold; text-transform: uppercase; }

.tray-outer-slot {
    width: 100%; height: 75px; background: #C0C0C0;
    margin-bottom: 35px; position: relative; overflow: hidden; border: 1px solid #C0C0C0;
}


.tray-mechanism {
    position: absolute;
    width: 64%;
    height: 100%; /* Prend toute la hauteur du slot parent */
    background: linear-gradient(180deg, #C0C0C0 0%, #a5a5a5 100%);
    top: 0;
    left: 18%;
    z-index: 10;
    transition: transform 1.1s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    /* LES BORDURES COMPLETES */
    border: 2px solid #000;      /* Trace les 4 côtés */
    box-sizing: border-box;      /* IMPORTANT : garde le tiroir à 100% de hauteur bordures incluses */
    
    /* Optionnel : un petit reflet pour voir le relief en haut */
    border-top-color: #333; 
}

/* On s'assure que l'animation de descente est toujours là */
.tray-mechanism.open {
    transform: translateY(70px); /* Ajuste à 68px si tu veux voir le haut du tiroir */
}
.mash-logo-tray { height: 35px; opacity:2; filter: grayscale(1) brightness(1,5); }

.power-section, .eject-section {
    display: flex; flex-direction: column; align-items: center; gap: 10px;
}

.transport-grid { 
    display: grid; grid-template-columns: repeat(5, 1fr); gap: 15px; 
    margin-top: 55px; width: 100%; align-items: end; 
}

.eject-section { margin-top: -15px; }

.upper-label, .knob-label {
    font-size: 9px; font-weight: bold; color: var(--text-silver);
    letter-spacing: 1px; text-transform: uppercase; white-space: nowrap;
}

.display-panel {
    background: #000; padding: 25px 35px; border: 4px solid #111;
    box-shadow: inset 0 0 60px rgba(0,0,0,1), 0 0 20px var(--vfd-glow);
    min-height: 240px; display: flex; flex-direction: column;
    justify-content: space-between; box-sizing: border-box;
}

.vfd-main-row { 
    display: flex; justify-content: space-between; 
    align-items: flex-end; margin-bottom: 10px; 
}

.vfd-col-track { flex: 0 0 120px; display: flex; flex-direction: column; align-items: flex-start; }
.vfd-col-time { flex: 0 0 240px; display: flex; flex-direction: column; align-items: flex-end; }

.vfd-col-indicators { 
    flex: 1; display: flex; flex-direction: column; align-items: center; 
    gap: 4px; border-left: 1px solid #111; border-right: 1px solid #111;
    margin: 0 25px; padding: 5px 0;
}

.digital-counter {
    display: flex; align-items: baseline; font-family: var(--digital-font); 
    font-size: 60px; font-weight: bold; color: var(--vfd-blue);
    text-shadow: 0 0 15px var(--vfd-blue-dim); line-height: 1; height: 60px;
}

.digit { width: 38px; text-align: center; }
.time-separator { width: 15px; text-align: center; font-size: 40px; margin: 0 2px; }

.label-vfd { 
    font-size: 11px; color: var(--vfd-blue); font-family: var(--ui-font); 
    font-weight: bold; text-transform: uppercase; margin-bottom: 4px; letter-spacing: 2px;
}
.label-vfd.clickable { cursor: pointer; color: var(--vfd-blue); transition: color 0.2s; }

.vu-meters { margin-top: 15px; padding-top: 10px; border-top: 1px solid #0a0a0a; }
.vu-row { display: flex; align-items: center; gap: 15px; margin-bottom: 8px; }
.vu-label { 
    font-family: var(--ui-font); font-size: 14px; font-weight: 900; 
    width: 15px; color: #08181a; transition: all 0.3s; line-height: 1; text-align: center;
}
.vu-label.on { color: var(--vfd-blue); text-shadow: 0 0 10px var(--vfd-glow); }
.meter-container { flex: 1; height: 12px; background: #080808; display: flex; gap: 2px; padding: 1px; align-items: stretch; }
.meter-segment { flex: 1; background: var(--vfd-off); transition: background 0.05s; }
.meter-segment.on-blue { background: var(--vfd-blue); box-shadow: 0 0 5px var(--vfd-blue); }
.meter-segment.on-red { background: var(--vfd-red); box-shadow: 0 0 5px var(--vfd-red); }

.main-interface { display: grid; grid-template-columns: 120px 1fr 340px; gap: 40px; align-items: start; }
.btn { 
    background: linear-gradient(145deg, #C0C0C0, #a8a8a8); border: 1px solid #808080; 
    color: var(--text-silver); cursor: pointer; font-size: 11px; font-weight: bold; 
    box-shadow: 3px 3px 6px #838383; text-transform: uppercase; height: 50px; width: 100%;
    padding: 0 5px; text-align: center;
    display: flex; align-items: center; justify-content: center;
}
.btn:active { background: linear-gradient(145deg, #a3a3a3, #2a2a2b); box-shadow: inset 2px 2px 5px #000; color: var(--text-white); }
#power-reset-btn { height: 50px; width: 90px; }
#stop-btn, #eject-btn { font-size: 24px; color: var(--text-silver); }

.numeric-grid { display: grid; grid-template-columns: repeat(10, 1fr); gap: 8px; margin-top: 25px; width: 100%; }

/*.knob-container { text-align: center; }
.knob { 
    background: var(--brushed-metal); border-radius: 50%; border: 3px solid #111; 
    cursor: pointer; box-shadow: 5px 5px 15px #000; margin: 10px auto; 
    position: relative; transform: rotate(-110deg); transition: transform 0.1s linear;
}
.vol-knob { width: 75px; height: 75px; }*/

/* Taille du logo CD réduite et position conservée */
.cd-logo-bottom { 
    position: absolute; left: 50px; bottom: 40px; 
    height: 40px; opacity: 0.7; pointer-events: none; 
}

/* Modals */
#art-modal, #playlist-modal {
    display: none; position: fixed; z-index: 10000; 
    left: 0; top: 0; width: 100%; height: 100%; 
    background-color: rgba(0,0,0,0.95); justify-content: center; align-items: center; 
    backdrop-filter: blur(15px);
}
.modal-content {
    background: #111; border: 2px solid #333; padding: 30px;
    box-shadow: 0 0 100px rgba(0,0,0,1); text-align: center; border-radius: 8px;
}
.list-content { max-width: 600px; width: 90%; max-height: 80vh; overflow-y: auto; }
#track-list-container { text-align: left; margin-top: 15px; border-top: 1px solid #d8d8d8; }
.track-item { 
    padding: 12px; border-bottom: 1px solid #b6b6b6; cursor: pointer; color:#d6d6d6; ;
    font-size: 14px; transition: all 0.2s; font-family: var(--ui-font);
}
.track-item:hover { background: #111111; color: var(--vfd-blue); }
.track-item.active { color: var(--vfd-red); font-weight: bold; background: #080808; }

#art-image { max-width: 600px; max-height: 600px; width: 100%; border-radius: 4px; }
#art-info { color: var(--vfd-blue); margin-top: 25px; font-weight: bold; text-transform: uppercase; font-size: 16px; }

/* Grille et Indicateurs */
.track-grid { display: flex; justify-content: center; align-items: center; gap: 10px; margin: 20px 0; padding: 12px 0; border-top: 1px solid #0a0a0a; border-bottom: 1px solid #0a0a0a; }
.grid-num { font-size: 14px; font-weight: bold; color: #0d0d0d; min-width: 18px; text-align: center; }
.grid-num.loaded { color: #40e0ff; }
.grid-num.active-track { color: #ff3333 !important; text-shadow: 0 0 12px #ff3333; }

.arrow-indicator { font-size: 14px; color: #0d0d0d; visibility: hidden; }
.arrow-indicator.active { visibility: visible; color: #ff3333; text-shadow: 0 0 10px #ff3333; }

.vfd-indicator { font-family: var(--ui-font); font-size: 10px; font-weight: bold; color: #08181a; text-transform: uppercase; }
.vfd-indicator.active { color: var(--vfd-blue); text-shadow: 0 0 8px var(--vfd-blue); }

/* Animations */
@keyframes vfd-input-blink { 0%, 49% { opacity: 1; } 50%, 100% { opacity: 0; } }
.vfd-input-blink { animation: vfd-input-blink 1s infinite; }
.vfd-blink-pause { animation: vfd-input-blink 1s infinite; }